<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="frame-contain">
    <iframe class="embed" id="embed" src="<%=url%>"></iframe>
  </div>

</body>

</html>